@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body{
    margin-left: 30px;
    width:95%;
    height:95%;
}
.cadastro{
    display:flex;
    justify-content:space-between;
    border: 2px;
    box-shadow: 6px 6px 6px #a5a5a5;
    box-sizing: border-box;
    flex-direction: row;
    font-family: 'Poppins';
}
.cimacadastro{
    margin-bottom: 20px;
}
#cadastro_usuario{
    font-family:'Poppins';
    border:none;
    border-radius:10px;
    color:green;
    margin-left:500px;
    width:150px;
    height:35px;
}
h2{
    font-size:30px;
    color:#d3d3d3;
    font-family: 'Poppins';
}
h3{
    margin-left: 550px;
    font-size:15px;
    color:#a0a0a0;
    font-family: 'Poppins';
}
.teste{
    display:flex;
}